@import "tailwindcss";


.iniciales-class {
  
  height: 100%;

}


.main {

  height: 40vw;

}

.carrousel-main {
  background-image: url(../public/assets/parte5-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.img {

  display: flex;
  gap: 18px;

}

.photo {

  height: auto;

}

.color-button {
   background-color: hsl(66, 33, 16);
  }


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media only screen and (max-width: 768px) {
  .main {

    height: 75vw;
  
  }

  .carrousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15% 0%;

  }

  .image-container {
    position: relative; 
    display: inline-block; 
    overflow: hidden;
  }

  .image-container img {
      display: block; /* Evita espacios extra */
      width: 100%; /* Ajusta el ancho de la imagen */
      height: auto;
    }

  .map-container {
    position: absolute; /* El hijo se posiciona de forma absoluta */
    top: 91%; /* Centrar verticalmente (ajustar según necesites) */
    left: 50%; /* Centrar horizontalmente (ajustar según necesites) */
    transform: translate(-50%, -50%); /* Para un centrado perfecto */
    padding: 20px;
    width: 25rem;
    height: 9rem;
    z-index: 1; /* Asegura que esté por encima de la imagen */
  }

  .map {
    width: 100%;
    height: 100%;
  }

  .countdown-container {
    position: relative; 
    display: inline-block; 
    overflow: hidden;
  }

  .countdown-container img {
      display: block; /* Evita espacios extra */
      width: 100%; /* Ajusta el ancho de la imagen */
      height: auto;
    }

  .dv-container {
    position: absolute; /* El hijo se posiciona de forma absoluta */
    top: 61%; /* Centrar verticalmente (ajustar según necesites) */
    left: 50%; /* Centrar horizontalmente (ajustar según necesites) */
    transform: translate(-50%, -50%); /* Para un centrado perfecto */
    padding: 20px;
    z-index: 1; /* Asegura que esté por encima de la imagen */
  }



}

@media only screen and (min-width: 768px) {

  .carrousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  

  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .map-container {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    height: 20rem;
    z-index: 1;
  }

  .map {
    width: 100%;
    height: 100%;
  }

  .countdown-container {
    position: relative; 
    display: inline-block; 
    overflow: hidden;
  }

  .countdown-container img {
      display: block; /* Evita espacios extra */
      width: 100%; /* Ajusta el ancho de la imagen */
      height: auto;
    }

  .dv-container {
    position: absolute; /* El hijo se posiciona de forma absoluta */
    top: 61%; /* Centrar verticalmente (ajustar según necesites) */
    left: 50%; /* Centrar horizontalmente (ajustar según necesites) */
    transform: translate(-50%, -50%); /* Para un centrado perfecto */
    padding: 20px;
    z-index: 1; /* Asegura que esté por encima de la imagen */
  }

  
}


